{% extends "pred/base_layout.html" %}

{%block content_right_panel %}
    {% if username %}
      {% include "pred/user_header.html" %}
    {% endif %}
  <h2>Download</h2>
  <br><br>
  <table cellspacing=0 cellpadding=0 border=0>
    <tr>
      <td>
      <h3>1. Source code of Frag1D</h3>
        <p style="margin-left:15px;">

        The source code of PredZinc can be found at this GitHub repository
        <a href="https://github.com/nanjiangshu/frag1d">https://github.com/nanjiangshu/frag1d</a>
        <br><br>

        You can also download the gzipped tarball of the package from here
        <a
            href="{{STATIC_URL}}download/frag1d.tar.gz">frag1d.tar.gz</a>
        <br><br>
        </p>
      </td>
    </tr>

    <tr>
        <td>
            <h3>2. Supplementary data:</h3>
            <p style="margin-left:15px;">
            All supplementary data, including the original data, for the Frag1D paper (<a
            href="http://www.ncbi.nlm.nih.gov/pubmed/20007252">PubMed</a>) can
        be found here: <a href="{{STATIC_URL}}download/supplement.frag1d.zip">Supplementary data</a>
            <br><br>
            Description of the supplementary data can be found: <a href="{{STATIC_URL}}download/supplement/suppl.html">here</a>
            </p>
        </td>
    </tr>

  </table>
{% endblock %}

